<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.gisupov.neuroland">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/app_icon"
        android:label="NeuroLand"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject_NeuroLand"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main_ui.SettingsActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main_ui.MainActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_ui.GPSActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main_ui.ARActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_ui.LoginActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_ui.RegActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_ui.WebActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_ui.MapsCadastActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_ui.MapsActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_ui.WebAdditionalModeActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>