<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.gisupov.neuroland">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="NeuroLand"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject_NeuroLand">
        <activity
            android:name=".main_ui.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".main_ui.MainActivity" -->
        <!-- android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar"> -->
        <!--             <intent-filter> -->
        <!--                 <action android:name="android.intent.action.MAIN" /> -->
        <!--                 <category android:name="android.intent.category.LAUNCHER" />; -->
        <!--             </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".main_ui.GPSActivity"
            android:theme="@style/Theme.MyProject_NeuroLand.NoActionBar" />
        <activity android:name=".main_ui.ARActivity" />
        <activity android:name=".main_ui.LoginActivity" />
        <activity android:name=".main_ui.RegActivity" />
        <activity android:name=".main_ui.WebChooseActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>